@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-dark font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }
}

/* Custom scrollbar to look sharper */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-light;
}
::-webkit-scrollbar-thumb {
  @apply bg-trust/20 hover:bg-trust/40 rounded-full;
}
